.commentUser {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.507);
  background-color: #E8E9EB;
  border-radius: 3px;
  margin-top: 8px;
}


.commentUser img {
  height: 3vmax;
  width: 3vmax;
  margin: 1vmax;
  border-radius: 100%;
  border: 2px solid rgb(255, 201, 201);
  
}



.commentUser > button {
  color: red;
 
}
.commentUser .user{
  display: flex;
  /* flex-direction: column; */
   align-items: center;
}